<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NT118_Project"
        tools:targetApi="31">
        <activity
            android:name=".Fragments.SelectBusTickets_2Activity"
            android:exported="false" />
        <activity
            android:name=".Fragments.PayActivity"
            android:exported="false" />
        <activity
            android:name=".Fragments.ChangePasswordActivity"
            android:exported="false" />
        <activity          
            android:name=".hotel.ListofRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".hotel.ListofHotelsActivity"
            android:exported="false" />
        <activity
            android:name=".hotel.SearchHotelActivity"
            android:exported="false" />
        <activity
            android:name=".flight.ListofFlightsActivity"
            android:exported="false" />
        <activity
            android:name=".flight.SearchFlightActivity"
            android:exported="false" />
        <activity
            android:name=".Fragments.SelectBusTicketsActivity"
            android:exported="false" />
        <activity
            android:name=".Fragments.BookBusTicketsActivity"
            android:exported="false" />
        <activity
            android:name=".Fragments.UserDetailFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.SignupFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.LoginFragment"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NT118_Project.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>